### Laravel ###
/vendor/
/node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/public/storage
storage/*.key
.env.*.php
.env.php
.env
/public/admin-theme/bower_components
# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

Homestead.json
Homestead.yaml
/.idea
.DS_Store
public/upAndDown/vendor
public/upAndDown/src/node_modules
/public/upAndDown/src/.sass-cache
/public/upAndDown/css/*
/public/upAndDown/js
