@import "compass/css3";
@import "compass/utilities";
.user-panel > .info > p{
    margin-top: 10px;
}
#alert-zone{
   //position: absolute;

   // top: -40px;
    z-index: 2;
}


.fade {
    @include opacity(0);
    @include transition-property(opacity);
    @include transition-duration(0.15s);
    @include transition-timing-function(linear);
}

.modal {
    background-color: rgba(0, 0, 0, 0.6);

}
.modal.fade .modal-dialog {
    //transition: transform 0.3s ease-out 0s;
    @include transition-property(transform);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-out);
}

.main-header .logo .logo-mini img{
   padding: 7px;
    max-width: 50px;
}

.main-header .logo .logo-lg img{
    padding: 7px;
}