$icon-font-path: "../fonts/bootstrap/";

// Panel
$panel-border-radius            : 15px;


// Panel-default
$panel-default-heading-bg       : #FFFFFF;
$panel-default-border           : #FFFFFF;
$panel-default-width            : 280px;
$panel-download-width            : 380px;

// button
$btn-border-radius-base         : 20px;
$btn-default-color              : #FFFFFF;
$btn-default-bg                 : #d4d7d9;
$btn-default-border             : #d4d7d9;

$alert-border-radius            : 0px;

    // Forms
$input-border-radius            : 0px;


$code-color:                  #389DFF !default;
$code-bg:                     lighten($code-color, 37%) !default;

// NavBar
$navbar-height                  : 32px;

$nav-link-padding               :   4px 10px !default;


$navbar-inverse-bg              : rgba(#222, 0.97);
$navbar-inverse-border          : darken(#222, 10%) !default;

$font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

